body {
  padding-top: 50px;
}
.navbar-inverse{
  background-color: #29AB87;
  border-color: #29AB87;
}
.navbar-inverse .navbar-brand{
  color: #fff;
  font-size: 30px;
  letter-spacing: 3px;
}
.footer {
  padding-right: 15px;
  padding-left: 15px;
}
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
